.product-new {
    margin: 70px 0;
    background: var(--surface);
}
.product-new .swiper {
    background: var(--bg-light);
}
.product-new__title {
    position: relative;
    display: inline-block;
    font-size: 3rem;
    font-weight: 800;
    background: linear-gradient(90deg, #ff7b00, #ff9500, #ffb700);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-new__title::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    right: -35px;
    width: 30px;
    height: 5px;
    background: linear-gradient(90deg, #ff7b00, #ff9500, #ffb700);
}
.product-cats-swiper {
    position: relative;
}

.product-cats-swiper .swiper-slide {
    width: auto;
}

.product-cat-btn {
    text-align: center;
    font-size: 1.8rem;
    min-width: 140px;
    padding: 10px 14px;
    border-radius: 0;
    border-left: 1px solid rgba(255, 89, 0, 0.355);
    background: #fff;
    color: #555;
    font-weight: 700;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
    user-select: none;
    -webkit-user-drag: none;
    cursor: grab;
}

.product-cat-btn.active {
    background: var(--orange-2);
    color: #fff;
}

.product-cats-swiper .swiper-button-prev:after,
.product-cats-swiper .swiper-button-next:after {
    font-size: 18px;
    font-weight: 700;
}

.product-cat-btn:active {
    cursor: grabbing;
}

.product-cats .nav-link {
    font-weight: 600;
    color: #333;
}

.product-frame {
    border-radius: 5px;
    background: linear-gradient(135deg, #ff7b00, #ff9500);
}
.product-frame .swiper {
    padding: 10px 5px 40px;
    background: linear-gradient(135deg, #ff7b00, #ff9500);
}

.swiper-button-prev {
    left: -100% !important;
    transition: all 0.3s;
}

.product-frame:hover .swiper-button-prev {
    left: 0 !important;
}

.swiper-button-next {
    right: -100% !important;
    transition: all 0.3s;
}

.product-frame:hover .swiper-button-next {
    right: 0 !important;
}
.product-frame .swiper-pagination {
    width: fit-content;
    left: 50% !important;
}

.product-card {
    border: none;
    box-shadow: none;
    transition:
        transform 0.35s ease,
        box-shadow 0.35s ease;
}
.product-item:hover .product-card {
    transform: translateY(-8px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.15);
}
.product-card .product-thumb img {
    transition: transform 0.45s ease;
}
.product-item:hover .product-thumb img {
    transform: scale(1.1);
}

.product-card .product-thumb img {
    max-width: 100%;
}

.product-card .product-name,
.product-card .product-price {
    font-size: 1.6rem;
}
.product-name {
    overflow: hidden;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.product-item__info {
    border-top: 1px solid rgba(98, 98, 98, 0.25);
    background: var(--bg-light);
}
